version: '3.8'

services:
  backend:
    build: ./backend
    container_name: effective-mobile-backend
    networks:
      - app-network

  nginx:
    image: nginx:1.25-alpine
    container_name: effective-mobile-nginx
    ports:
      - "80:80"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - backend
    networks:
      - app-network

networks:
  app-network:
    driver: bridge 